* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
}

#root {
  position: relative;
  display: flex;
  justify-content: center;
}

main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid grey;
}

th {
  min-width: 50px;
  border: 1px solid grey;
  padding: 5px;
  background-color: rgb(134, 169, 233);
  color: black;
  text-align: center;
}

td {
  border: 1px solid gray;
  padding: 5px;
  text-align: center;
}